# permissions for end users to view goalertintegrations.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: goalertintegration-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: configure-goalert-operator
    app.kubernetes.io/part-of: configure-goalert-operator
    app.kubernetes.io/managed-by: kustomize
  name: goalertintegration-viewer-role
rules:
- apiGroups:
  - goalert.managed.openshift.io
  resources:
  - goalertintegrations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - goalert.managed.openshift.io
  resources:
  - goalertintegrations/status
  verbs:
  - get
